<!-- Credit Card Table -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">{{ title }}</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive" style="overflow-x: hidden">
            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0"
                               role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                            <thead>
                            <tr role="row">
                                <th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1"
                                    colspan="1" aria-sort="ascending"
                                    aria-label="Name: activate to sort column descending"
                                    style="width: 240px; vertical-align: middle;">

                                    Date
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                                    aria-label="Position: activate to sort column ascending"
                                    style="vertical-align: middle;">

                                    Description
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                                    aria-label="Office: activate to sort column ascending"
                                    style="width: 40px; vertical-align: middle;">

                                    Value
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                                    aria-label="Office: activate to sort column ascending"
                                    style="width: 40px; vertical-align: middle;">

                                    Category
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                                    aria-label="Office: activate to sort column ascending"
                                    style="width: 150px; text-align: center; vertical-align: middle;">

                                    Payment Month
                                </th>

                                <!--
                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                                    aria-label="Office: activate to sort column ascending"
                                    style="width: 200px; text-align: center; vertical-align: middle;">

                                    Labels
                                </th>
                                -->
                            </tr>
                            </thead>

                            <tbody style="color:#0088cc">

                            {% for item in data %}
                                <tr role="row"
                                    class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}"
                                    {% if item.charge_count > 1 %}style="color: #0088cc; background: #fff7001f"{% endif %}>

                                    <!-- Transaction Time -->
                                    <td class="sorting_1">{{ item.transaction_time }}</td>

                                    <!-- Description -->
                                    <td>
                                        <a>{{ item.description }}</a>
                                    </td>

                                    <!-- Value -->
                                    <td>
                                        <a>{{ item.value }}</a>
                                    </td>

                                    <!-- Category -->
                                    <td>
                                        <a href="#" class="editable" data-type="text" data-pk="{{ item.transaction_id }}"
                                           id="category"
                                           data-url="{% url 'api.credit_card.update_category' %}"
                                           data-title="category"
                                           data-params="{csrfmiddlewaretoken:'{{ csrf_token }}'}">{{ item.category.title }}</a>
                                    </td>

                                    <!-- Payment Date -->
                                    <td>
                                        <a>{{ item.payment_date }}</a>
                                    </td>

                                    <!-- Labels
                                    <td>
                                        <a href="#" class="editable" data-type="text" data-pk="{{ item.id }}"
                                           data-url="{% url 'api.expenses.update' %}" data-title="Value"
                                           data-params="{csrfmiddlewaretoken:'{{ csrf_token }}'}">Next</a>
                                    </td>
                                    -->
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% block end_content %}
    <script>
        $.fn.editable.defaults.mode = 'inline';

        $(document).ready(function () {
            $('.editable').editable();
        });

        function onChangeItemStatus(name, current_url) {
            var element = document.getElementById(name);
            var item_to_remove = 'fa-meh-rolling-eyes';
            var item_to_add = 'fa-smile-beam';
            var item_color = '#36b9cc';

            if (element.classList.contains('fa-smile-beam')) {
                item_to_remove = 'fa-smile-beam';
                item_to_add = 'fa-meh-rolling-eyes';
                item_color = '#e74a3b';
            }

            var updating_icon = 'fa-hourglass-start';
            element.classList.remove(item_to_remove);
            element.classList.add(updating_icon); // add loading icon
            element.style["color"] = "#dddfeb";
            item_to_remove = updating_icon;

            $.ajax({
                url: current_url,
                method: "POST",
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                success: function (returnData) {
                    element.classList.remove(item_to_remove);
                    element.classList.add(item_to_add);
                    element.style["color"] = item_color;
                }
            });
            return false;
        }
    </script>
{% endblock %}
