<!-- Expenses Table -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <div class="d-sm-flex align-items-center justify-content-between mb-1">
            <h6 class="h4 mb-0 text-gray-800">{{ title }}</h6>

            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                        Waiting for Payment
                    </div>
                    <div class="row no-gutters align-items-center">
                        <div class="col-auto">
                            <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{ unpaid_expenses_total }}</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                        Not Recurrent
                    </div>
                    <div class="row no-gutters align-items-center">
                        <div class="col-auto">
                            <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{ not_recurrent_total }}</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="dropdown show">
                {% if monthly_summary and pending_recurrences %}
                    <a href="javascript:onRecurrencyCheck('{% url 'api.expenses.fill_recurrences' month=month year=year %}');"
                       role="button" aria-expanded="false" class="btn btn-info btn btn-sm btn-primary">
                        <i class="fas fa-redo-alt fa-sm text-white-50"></i> Fill Recurrency
                    </a>
                {% endif %}

                <a href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false"
                   class="btn btn-primary dropdown-toggle d-none d-sm-inline-block btn btn-sm btn-primary">
                    <i class="fas fa-plus-circle fa-sm text-white-50"></i> New Expense
                </a>

                <div class="dropdown-menu">
                    <form class="px-4 py-3" action="javascript:onNewExpense('{% url 'api.expenses.new' %}');"
                          method="POST" id="new_expense_form">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="DropDownExpenseDate">Date</label>
                            <input type="date" class="form-control" id="DropDownExpenseDate"
                                   name="date" placeholder="expense_date">
                        </div>
                        <div class="form-group">
                            <label for="expense_description">Description</label>
                            <input type="text" class="form-control" id="expense_description"
                                   name="description" placeholder="Description...">
                        </div>
                        <div class="form-group">
                            <label for="expense_value">Value</label>
                            <input type="number" class="form-control" id="expense_value"
                                   name="value" placeholder="R$ 0,00" step="any">
                        </div>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive" style="overflow-x: hidden">
            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0"
                               role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                            <thead>
                            <tr role="row">
                                <th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1"
                                    colspan="1" aria-sort="ascending"
                                    aria-label="Name: activate to sort column descending" style="width: 170px;">

                                    Date
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                                    aria-label="Position: activate to sort column ascending">

                                    Description
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                                    aria-label="Office: activate to sort column ascending" style="width: 40px;">

                                    Value
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                                    aria-label="Office: activate to sort column ascending" style="width: 40px;">

                                    Bank
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                                    aria-label="Office: activate to sort column ascending" style="width: 40px;">

                                    Scheduled
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                                    aria-label="Office: activate to sort column ascending" style="width: 40px;">

                                    Paid
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                                    aria-label="Office: activate to sort column ascending" style="width: 40px;">

                                    Recurrent
                                </th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for item in expenses %}
                                <tr role="row"
                                    class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
                                    <td class="sorting_1">{{ item.date }}</td>
                                    <td>
                                        <a href="#" class="editable" data-type="text" data-pk="{{ item.id }}"
                                           id="description"
                                           data-url="{% url 'api.expenses.update' %}"
                                           data-title="description"
                                           data-params="{csrfmiddlewaretoken:'{{ csrf_token }}'}">{{ item.description }}</a>
                                    </td>
                                    <td>
                                        <a href="#" class="editable" data-type="text" data-pk="{{ item.id }}"
                                           id="value"
                                           data-url="{% url 'api.expenses.update' %}"
                                           data-title="Value"
                                           data-params="{csrfmiddlewaretoken:'{{ csrf_token }}'}">{{ item.value_display }}</a>
                                    </td>
                                    <td>
                                        {{ item.get_bank_account_display }}
                                    </td>
                                    <td style="text-align: center">
                                        <a class="fas {% if item.scheduled %}fa-smile-beam{% else %}fa-meh-rolling-eyes{% endif %}"
                                           id="scheduled_{{ item.id }}"
                                           href="javascript:void(0);"
                                           onclick="onChangeItemStatus('scheduled_{{ item.id }}', '{% url 'api.expenses.scheduled' pk=item.pk %}' )"
                                           style="color: {% if item.scheduled %}#36b9cc{% else %}#e74a3b{% endif %}"></a>
                                    </td>
                                    <td style="text-align: center">
                                        <a class="fas {% if item.paid %}fa-smile-beam{% else %}fa-meh-rolling-eyes{% endif %}"
                                           id="paid_{{ item.id }}"
                                           href="javascript:void(0);"
                                           onclick="onChangeItemStatus('paid_{{ item.id }}', '{% url 'api.expenses.paid' pk=item.pk %}' )"
                                           style="color: {% if item.paid %}#36b9cc{% else %}#e74a3b{% endif %}"></a>
                                    </td>
                                    <td style="text-align: center">
                                        <a class="fas fa-retweet {% if item.recurrent %}recurrent{% endif %}"
                                           id="recurrent_{{ item.id }}"
                                           href="javascript:void(0);"
                                           onclick="onChangeRecurrency('recurrent_{{ item.id }}', '{% url 'api.expenses.recurrent' pk=item.pk %}' )"
                                           style="color: {% if item.recurrent %}#36b9cc{% else %}#b7b9cc{% endif %}"></a>
                                    </td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

{% block end_content %}
    <script>
        function onChangeItemStatus(name, current_url) {
            var element = document.getElementById(name);
            var item_to_remove = 'fa-meh-rolling-eyes';
            var item_to_add = 'fa-smile-beam';
            var item_color = '#36b9cc';

            if (element.classList.contains('fa-smile-beam')) {
                item_to_remove = 'fa-smile-beam';
                item_to_add = 'fa-meh-rolling-eyes';
                item_color = '#e74a3b';
            }

            var updating_icon = 'fa-hourglass-start';
            element.classList.remove(item_to_remove);
            element.classList.add(updating_icon); // add loading icon
            element.style["color"] = "#dddfeb";
            item_to_remove = updating_icon;

            $.ajax({
                url: current_url,
                method: "POST",
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                success: function (returnData) {
                    element.classList.remove(item_to_remove);
                    element.classList.add(item_to_add);
                    element.style["color"] = item_color;
                }
            });
            return false;
        }

        function onChangeRecurrency(name, current_url) {
            var element = document.getElementById(name);
            var is_recurrent = true;

            var item_new_color = "#36b9cc";
            if (element.classList.contains('recurrent')) {
                item_new_color = "#b7b9cc";
                is_recurrent = false;
            }

            $.ajax({
                url: current_url,
                method: "POST",
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                success: function (returnData) {
                    element.style["color"] = item_new_color;

                    if (is_recurrent) {
                        element.classList.add('recurrent');
                    } else {
                        element.classList.remove('recurrent');
                    }
                }
            });
            return false;
        }

        function onNewExpense(url) {
            $.ajax({
                url: url,
                data: $('#new_expense_form').serialize(),
                method: "POST",
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                success: function (returnData) {
                    location.reload();
                }
            });
        }

        function onRecurrencyCheck(url) {
            $.ajax({
                url: url,
                method: "POST",
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                success: function (returnData) {
                    location.reload();
                }
            });
        }
    </script>
{% endblock %}
