{% extends 'base.html' %}
{% load static %}

{% block head_content %}
    <link href="{% static 'vendor/bootstrap4-editable/css/bootstrap-editable.css' %}" rel="stylesheet"/>
    <script src="{% static 'vendor/bootstrap4-editable/js/bootstrap-editable.js' %}"></script>
{% endblock %}

{% block page_content %}
    {% include "expenses_table.html" with title="Expenses" expenses=expenses %}
{% endblock %}

{% block end_content %}
    <script>
        $.fn.editable.defaults.mode = 'inline';

        $(document).ready(function() {
            $('.editable').editable();
        });
    </script>
{% endblock %}
