{% extends 'base.html' %}
{% load static %}

{% block head_content %}
    <link href="{% static 'vendor/bootstrap4-editable/css/bootstrap-editable.css' %}" rel="stylesheet"/>
    <script src="{% static 'vendor/bootstrap4-editable/js/bootstrap-editable.js' %}"></script>
{% endblock %}

{% block page_content %}

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Expenses</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive" style="overflow-x: hidden">
                <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0"
                                   role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                                <thead>
                                <tr role="row">
                                    <th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1"
                                        colspan="1" aria-sort="ascending"
                                        aria-label="Name: activate to sort column descending" style="width: 170px;">

                                        Date
                                    </th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                                        aria-label="Position: activate to sort column ascending">

                                        Description
                                    </th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                                        aria-label="Office: activate to sort column ascending" style="width: 40px;">

                                        Value
                                    </th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                                        aria-label="Office: activate to sort column ascending" style="width: 40px;">

                                        Bank
                                    </th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                                        aria-label="Office: activate to sort column ascending" style="width: 40px;">

                                        Scheduled
                                    </th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                                        aria-label="Office: activate to sort column ascending" style="width: 40px;">

                                        Paid
                                    </th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for expenses in expenses %}
                                    <tr role="row"
                                        class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
                                        <td class="sorting_1">{{ expenses.date }}</td>
                                        <td>
                                            <a href="#" class="editable" data-type="text" data-pk="{{ expenses.id }}" id="description" data-url="{% url 'api.expenses.update' %}" data-title="Value" data-params="{csrfmiddlewaretoken:'{{ csrf_token }}'}">{{ expenses.description }}</a>
                                        </td>

                                        <td>
                                            <a href="#" class="editable" data-type="text" data-pk="{{ expenses.id }}" id="value" data-url="{% url 'api.expenses.update' %}" data-title="Value" data-params="{csrfmiddlewaretoken:'{{ csrf_token }}'}">{{ expenses.value_display }}</a>
                                        </td>
                                        <td>{{ expenses.get_bank_account_display }}</td>
                                        <td style="text-align: center">
                                            <i class="fas {% if expenses.scheduled %}fa-smile-beam{% else %}fa-meh-rolling-eyes{% endif %}"
                                               style="color: {% if expenses.scheduled %}#36b9cc{% else %}#e74a3b{% endif %}"></i>
                                        </td>
                                        <td style="text-align: center">
                                            <i class="fas {% if expenses.paid %}fa-smile-beam{% else %}fa-meh-rolling-eyes{% endif %}"
                                               style="color: {% if expenses.paid %}#36b9cc{% else %}#e74a3b{% endif %}"></i>
                                        </td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block end_content %}
    <script>
        $.fn.editable.defaults.mode = 'inline';

        $(document).ready(function() {
            $('.editable').editable();
        });
    </script>
{% endblock %}
