{% extends 'base.html' %}
{% load static %}

{% block head_content %}
    <link href="{% static 'vendor/bootstrap4-editable/css/bootstrap-editable.css' %}" rel="stylesheet"/>
    <script src="{% static 'vendor/bootstrap4-editable/js/bootstrap-editable.js' %}"></script>
{% endblock %}

{% block page_content %}

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">{{ period }}</h1>
    </div>

    <!-- Content Row -->
    <div class="row">
        <!-- Earnings Card  -->
        <div class="col-xl-2 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Recebidos</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ earnings_total }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-money-bill-alt fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Expenses Card -->
        <div class="col-xl-2 col-md-6 mb-4">
            <div class="card border-left-danger shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Gastos</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ expenses_total }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Credit Card Expenses Card -->
        <div class="col-xl-2 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Gastos Cartão de Crédito</div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{ credit_card_total }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-credit-card fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% if monthly_summary %}
            <!-- Previous Months Charged Expenses -->
            <div class="col-xl-2 col-md-6 mb-4">
                <div class="card border-left-danger shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Gastos de Meses Anteriores (Cartão de Crédito)</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ month_charged_sum }}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-hand-point-left fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Credit Card Daily Estimate -->
            <div class="col-xl-2 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Objetivo Gastos Diarios (Cartão de Crédito)</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ credit_card_daily_estimate }}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-bullseye fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Current Credit Card Daily Expenses -->
            <div class="col-xl-2 col-md-6 mb-4">
                <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Gastos Diários Atuais (Cartão de Crédito)</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ credit_card_month_daily_expenses }}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-thermometer-three-quarters fa-2x text-gray-300"
                                   style="color: {% if credit_card_daily_expenses_green %}#008000bd{% else %}#ff0000a3{% endif %} !important"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        {% endif %}
    </div>

    <!-- Content Row -->

    <div class="row">

        <!-- Area Chart -->
        <div class="col-xl-8 col-lg-7">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">{{ main_chart_title }}</h6>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-area">
                        {% if monthly_summary %}
                            <canvas id="CreditCardBurndownChart"
                                    data-url="{% url 'api.credit_card.burndown_chart' month=month %}"></canvas>
                        {% else %}
                            <canvas id="EarningsExpensesChart" data-url="{% url 'api.earnings.month_chart' %}"></canvas>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <!-- Pie Chart -->
        <div class="col-xl-4 col-lg-5">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">{{ pie_chart_title }}</h6>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                             aria-labelledby="dropdownMenuLink">
                            <div class="dropdown-header">Dropdown Header:</div>
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-pie">
                        {% if monthly_summary %}
                            <canvas id="myPieChart" data-url="{% url 'api.credit_card.category_chart' month=month %}"></canvas>
                        {% else %}
                            <canvas id="myPieChart" data-url="{% url 'api.earnings.sources_chart' %}"></canvas>
                        {% endif %}
                    </div>

                    <div class="mt-4 text-center small">
                        <span class="mr-2">
                            <!-- <i class="fas fa-circle text-primary"></i> AlgoMania -->
                        </span>
                        <span class="mr-2">
                            <!-- <i class="fas fa-circle text-success"></i> Salario -->
                        </span>
                        <span class="mr-2">
                            <!-- <i class="fas fa-circle text-info"></i> Udemy -->
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include "earnings_table.html" with title="Valores Recebidos" earnings=earnings %}

    {% include "expenses_table.html" with title="Despesas em Aberto" expenses=unpaid_expenses %}

    {% if credit_card %}
        {% include "creditcard_table.html" with title="Gastos com Cartão de Crédito" data=credit_card %}
    {% endif %}

{% endblock %}

{% block end_content %}
    <!-- Page level custom scripts -->
    <script src="{% static 'js/chart-line.js' %}"></script>

    <script>
        $.fn.editable.defaults.mode = 'inline';

        $(document).ready(function () {
            $('.editable').editable();
        });
    </script>

    <script>
        // Set new default font family and font color to mimic Bootstrap's default styling
        Chart.defaults.global.defaultFontFamily = 'Nunito', '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
        Chart.defaults.global.defaultFontColor = '#858796';

        $(function () {
            var $populationChart = $("#myPieChart");
            $.ajax({
                url: $populationChart.data("url"),
                success: function (data) {
                    var ctx = $populationChart[0].getContext("2d");

                    new Chart(ctx, {
                        type: 'doughnut',
                        data: {
                            labels: data.labels,
                            datasets: [{
                                data: data.data,
                                backgroundColor: data.colors,
                                hoverBorderColor: "rgba(234, 236, 244, 1)",
                            }],
                        },
                        options: {
                            maintainAspectRatio: false,
                            tooltips: {
                                backgroundColor: "rgb(255,255,255)",
                                bodyFontColor: "#858796",
                                borderColor: '#dddfeb',
                                borderWidth: 1,
                                xPadding: 15,
                                yPadding: 15,
                                displayColors: true,
                                caretPadding: 10,
                            },
                            legend: {
                                display: true,
                                position: "bottom",
                                usePointStyle: true,
                            },
                            cutoutPercentage: 70,
                        },
                    });
                }
            })
        })
    </script>
{% endblock %}
