{% extends 'base.html' %}
{% load static %}

{% block head_content %}

    <script>
        function processing_check() {
            $.ajax({
                url: "{% url 'nubank.processing' %}",
                method: "GET",
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                statusCode: {
                    200: function (response) {
                        if (response.ready) {
                            document.getElementById("update_status_text").textContent = response;
                            window.location.href = "{% url 'summary' month=current_month year=current_year %}";
                        } else {
                            if (parseFloat(response.progress) > 0) {
                                document.getElementById("update_status_text").textContent = "Processing " + parseFloat(response.progress).toFixed(2) + "% concluded...";
                            }
                            setTimeout(processing_check, 200);
                        }
                    }
                },
                error: function () {
                    console.log('authentication failure');
                }
            });
        }

        var auth_check_timer = null;

        function authentication_check() {
            console.log('Autenticando...');
            $.ajax({
                url: "{% url 'nubank.authenticate' %}",
                method: "GET",
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                success: function (response) {
                    document.getElementById("update_status_text").textContent = response;
                    clearInterval(auth_check_timer);

                    setTimeout(processing_check, 2000);
                },
                error: function () {
                    setTimeout(authentication_check, 5000);
                    console.log('authentication failure');
                }
            });
        }

        function startAuthenticationCheck() {
            setTimeout(authentication_check, 10000);
            document.getElementById("update_status_text").textContent = "Aguardando autenticação...";
        }

    </script>

{% endblock %}

{% block page_content %}
    <div class="container">
        <div class="row h-100">
            <div class="col">
            </div>

            <div class="col align-self-center" style="text-align: center;">
                <h4 class="m-0 font-weight-bold text-dark">Abra o aplicativo do Nubank e use este QRCode para sincronizar seus dados</h4>
                <img src="https://chart.googleapis.com/chart?chs=300x300&cht=qr&chl={{ uuid }}&choe=UTF-8"/>
                <p id="update_status_text">
                    <img src="{% static 'imgs/loading.gif' %}" onload="startAuthenticationCheck();"/>
                    Aguardando carregamento do QRCode...
                </p>
            </div>

            <div class="col">
            </div>
        </div>

    </div>
{% endblock %}

{% block end_content %}
{% endblock %}
